<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="soft.zzti.edu.mapper.TeacherMapper">


<resultMap type="soft.zzti.edu.po.Teacher" id="studentResult">
<id  property="tno"  column="tno"/>
<association property="clazz"  javaType="soft.zzti.edu.po.Clazz">
<id  property="id" column="id"/>
<result  property="cname"  column="cname"/>
</association>
<collection property="students"  ofType="soft.zzti.edu.po.Student">
<id property="sno"  column="sno"/>
<result  property="sname"  column="sname"/>
</collection>


</resultMap>

<select id="getTeacherOfStudents"   parameterType="string" resultMap="studentResult">
 select s.sname,c.cname from teacher  t ,clazz c,student s where t.tno=c.tno  and s.clazz=c.id  and t.tno=#{tno} ;
 </select>



</mapper>